@charset "UTF-8";
/* CSS Document */

*{
  margin:0;
  padding:0;
}

ul{
  list-style: none;
}
img {
  vertical-align: top;
}


#wrap{
  width: 960px;
  margin: 0 auto;
  background-color: beige;
}

#header{
  margin-bottom: 20px;
  background-color: lightpink;
}

#footer{
  background-color: gold;
  clear: both;
}

.box li{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* ① :nth-child(n)を活用 */
.box li:nth-child(4n) {
  margin-right: 0;
}

